@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    animation: rotation 9s linear infinite;
}


/* Red dot animation */
@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
}


.red-dot {
    
  animation: pulse 2s infinite;
}



/* animation for text: */
@keyframes flickerGlow {
    0%, 100% {
      text-shadow: 0 0 5px rgb(216, 0, 0), 0 0 10px red, 0 0 15px red;
    }
    50% {
      text-shadow: 0 0 10px rgb(217, 1, 1), 0 0 20px red, 0 0 30px red;
    }
  }

.red-text {
   
    animation: flickerGlow 3s infinite ease-in-out;
}

