@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    animation: rotation 11s linear infinite;
}


/* Red dot animation */
@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; rotate: 10deg; }
    50% { transform: scale(1.2); opacity: 0.6; }
}


.red-dot {
    
  animation: pulse 2s infinite;
}



/* animation for text: */
@keyframes flickerGlow {
    0%, 100% {
      text-shadow: 0 0 5px rgb(148, 3, 3), 0 0 10px rgb(149, 0, 0), 0 0 15px rgb(193, 0, 0);
    }
    50% {
      text-shadow: 0 0 10px rgb(116, 0, 0), 0 0 20px rgb(206, 0, 0), 0 0 30px red;
    }
  }

.red-text {
   
    animation: flickerGlow 3s infinite ease-in-out;
}

